/* interface.css */
* {
	color:#aac;
}
body {
	background-color:#024;
}
#_Setting_{
	text-align : center;
}

#_SubTitle_ {
	text-align : center;
	font-weight : bold;
}

#_Title_ {
	text-align : center;
	background-color :#000;
}

#_Config_ {
	text-align : center;
}

#_Start_ {
	text-align : center;
}

#_SnakeContainer_ td {
	width : 25px;
	height : 25px;
	background-color : #058;
}

#_SnakeContainer_ {
	margin : auto;
}

#_DirectionCtrler_ td {
	width : 40px;
	height :40px;
	background-color : #058;
	text-align : center;
}

#_DirectionCtrler_ {
	margin : auto;
}

